@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("./src/assets/Inter-Regular.woff2") format("woff2"),
       url("./src/assets/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url("./src/assets/Inter-Medium.woff2") format("woff2"),
       url("./src/assets/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: url("./src/assets/Inter-SemiBold.woff2") format("woff2"),
       url("./src/assets/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: url("./src/assets/Inter-Bold.woff2") format("woff2"),
       url("./src/assets/Inter-Bold.woff") format("woff");
}
